<div class="product-queue-grid-container my-5 px-4 py-4">
  <div class="product-queue-title my-3">
    <p class="text-left font-weight-bold" style="font-size: 24px">Sales</p>
  </div>
  <mat-spinner *ngIf="isLoading"> </mat-spinner>
  <span></span>
  <div *ngIf="!isLoading" class="product-queue-content p-3 row row-cols-5 gy-5">
    <div
      class="product-item-container"
      *ngFor="let product of products; let productIndex = index"
    >
      <div class="card" style="width: 16rem; height: 28rem" fxLayout="column">
        <div class="cart-item-title py-3 px-3" fxLayout="row" fxFlex="9">
          <mat-icon style="color: rgb(94, 53, 177)">store</mat-icon>
          <span class="mx-2 txt-bold" style="color: rgb(94, 53, 177)">{{
            product.storeName
          }}</span>
        </div>

        <hr
          class="mx-2"
          style="border-color: rgb(94, 53, 177); border-width: 3px"
          fxFlex="1"
        />

        <a
          [routerLink]="product.categoryId + '/product/' + product.id"
          fxFlex="40"
          fxLayout="column"
        >
          <img
            [src]="product.img"
            class="card-img-top"
            alt="..."
            style="object-fit: contain"
            fxFlex="100"
          />
        </a>

        <div class="card-body" fxFlex="50" fxLayout="column">
          <p
            class="card-text text-truncate"
            style="font-size: 16px"
            fxFlex="25"
          >
            {{ product.description ?? "Unknown" }}
          </p>
          <p class="card-text" style="font-size: 12px" fxFlex="20">
            Unit:
            {{ formatProductUnit(product.lK_ProductUnit) }}
          </p>
          <p class="card-text" style="font-size: 12px" fxFlex="20">
            <span>Price: &nbsp;</span>
            <span *ngIf="product.priceDecreases" style="color: red">
              {{ formatMoney(product.priceDecreases ?? 0) }} &nbsp;
            </span>
            <span
              [ngClass]="
                product.priceDecreases ? 'text-decoration-line-through' : ''
              "
              [ngStyle]="{ color: product.priceDecreases ? 'grey' : 'red' }"
              >{{ formatMoney(product.price ?? 0) }}</span
            >
          </p>
          <!-- <mat-form-field fxFlex="30">
            <mat-label>Select Store</mat-label>
            <mat-select
              [formControl]="toControl(locationForms.at(productIndex))"
            >
              <mat-option>-- None --</mat-option>
              <mat-optgroup
                *ngFor="let location of product.locations"
                [label]="location.cityName"
              >
                <mat-option
                  *ngFor="let store of location.stores"
                  [value]="store.storeId"
                  (onSelectionChange)="onSelectLocation(product)"
                >
                  {{ store.storeName }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field> -->
          <a
            class="btn btn-primary"
            fxFlex="25"
            fxLayout="row"
            fxLayoutAlign="center center"
            (click)="onAddToCart(product, 1, productIndex)"
          >
            <mat-icon>shopping_cart</mat-icon>
            <span> Add to Cart </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator
    class="my-3"
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex - 1"
    [hidePageSize]="true"
    (page)="pageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
