.cart-title{
  border: 1px solid rgb(219, 219, 219);
  border-radius: 18px;
  background-color: white;
  box-shadow: 0px -5px 5px -3px rgba(0, 0, 0, 0.2),
              0px -8px 10px 1px rgba(143, 134, 134, 0.14),
              0px -3px 14px 2px rgba(161, 146, 146, 0.12),
              0px 3px 10px 0px rgba(161, 146, 146, 0.12);
}

.cart-item-container{
  border: 1px solid rgb(219, 219, 219);
  border-radius: 18px;
  background-color: white;
  height: 250px;
  box-shadow: 0px -5px 5px -3px rgba(0, 0, 0, 0.2),
              0px -8px 10px 1px rgba(143, 134, 134, 0.14),
              0px -3px 14px 2px rgba(161, 146, 146, 0.12),
              0px 3px 10px 0px rgba(161, 146, 146, 0.12);
}

mat-checkbox {
  --mdc-checkbox-selected-focus-icon-color: rgb(94, 53, 177) !important;
  --mdc-checkbox-selected-hover-icon-color: rgb(94, 53, 177) !important;
  --mdc-checkbox-selected-icon-color: rgb(94, 53, 177) !important;
  --mdc-checkbox-selected-pressed-icon-color: rgb(94, 53, 177) !important;
}
