<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" mode="side" opened="true" [fixedInViewport]="true">
      <mat-nav-list>
          <mat-list-item>
              <button mat-button class="menu-button">
                  <span> Servers</span>
              </button>
          </mat-list-item>
          <mat-list-item>
              <button mat-button class="menu-button">
                  <span> Sites</span>
              </button>
          </mat-list-item>
          <mat-list-item>
              <button mat-button class="menu-button">
                  <span> Accounts</span>
              </button>
          </mat-list-item>
          <mat-list-item>
              <button mat-button class="menu-button">
                  <span> Admin</span>
              </button>
          </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>
