<div class="product-category-queue-grid-container" fxLayout="column ">
  <div class="product-category-title" fxFlex="20">
    <p class="text-left font-weight-bold">Product Categories</p>
  </div>
  <div class="product-category-content" fxFlex="80">
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide justify-content-center"
      data-bs-interval="false"
      style="width: 100%; height: 100%"
      fxLayout="row"
    >
      <div class="carousel-inner" fxFlex="90">
        <div
          class="carousel-item row justify-content-between"
          *ngFor="let page of pages; let pageIndex = index"
          [ngClass]="{ active: pageIndex == 0 }"
          style="width: 100%; height: 100%"
        >
          <div class="product-item-container col-2" *ngFor="let item of page">
            <div
              class="product-item py-2 d-flex"
              style="height: 100%; width: 100%"
              fxLayout="column"
            >
              <div class="product-img row" fxFlex="80">
                <img
                  [src]="item.img"
                  alt=""
                  class="rounded mx-auto py-1 d-block"
                  style="object-fit: contain"
                />
              </div>
              <div class="product-description py-1 mx-auto row" fxFlex="20">
                <span class="product-type"> {{ item.name }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
        fxFlex="3"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
        fxFlex="3"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
