<div class="footer-container mx-5 px-5">
  <mat-toolbar
    class="footer-content px-5 py-5"
    fxFlex="row"
    fxLayoutAlign="space-between center"
  >
    <div
      class="quantity"
      fxFlex="30"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="font-size: 16px"
    >
      <span fxFlex="75">
        Total cost ({{ selectedProductsCount }} products):
      </span>
      <span fxFlex="25" class="font-weight-bold text-danger">
        {{ formatMoney(selectedProducsTotalPrice) }}
      </span>
    </div>
    <div class="payment" fxFlex="20">
      <button
        type="button"
        class="btn btn-outline-secondary w-75"
        (click)="onCreateOrderBtnClick()"
        [disabled]="isInvalidCreateOrder()"
      >
        Create order
      </button>
    </div>
  </mat-toolbar>
</div>
