<div class="product-detail-container mx-5 my-5">
  <div class="product-detail-title"></div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="!isLoading" class="product-detail-content">
    <div class="product-detail-basic-info-content" fxLayout="row">
      <div class="product-detail-img px-4 py-4" fxFlex="40" fxLayout="column">
        <img [src]="product.img" alt="" fxFlex="100" />
      </div>
      <div class="product-detail-info px-4 py-5" fxFlex="60">
        <div class="product-detail-info-title">
          <h1>{{ product.name ?? "Unkonwn" }}</h1>
        </div>
        <div class="product-detail-info-content">
          <div class="product-detail-info-content-main p-3">
            <div class="product-detail-price" fxLayout="row">
              <span fxFlex="30">Price:</span>
              <span
                fxFlex="70"
                [ngClass]="
                  product.priceDecreases ? 'text-decoration-line-through' : ''
                "
              >
                {{ formatMoney(product.price) }}</span
              >
            </div>
            <div
              class="-price-decreases"
              fxLayout="row"
              *ngIf="product.priceDecreases"
            >
              <span fxFlex="30">Price Decreases:</span>
              <span fxFlex="70" class="font-weight-bold text-danger">
                {{ formatMoney(product.priceDecreases) }}
              </span>
            </div>
            <hr />
            <div class="product-detail-status" fxLayout="row">
              <span fxFlex="30">Status: </span>
              <span fxFlex="70">None</span>
            </div>
          </div>
          <div class="product-detail-info-content-additional p-3">
            <div class="product-detail-unit py-2" fxLayout="row">
              <span fxFlex="30">Unit: </span>
              <span fxFlex="70">
                {{ formatProductUnit(product.lK_ProductUnit) }}
              </span>
            </div>
            <div class="product-remaining-quantity py-2" fxLayout="row">
              <span fxFlex="30">Remaining quantity: </span>
              <span fxFlex="70">
                {{ remainingQuantity }}
              </span>
            </div>
            <div class="product-detail-quantities py-2" fxLayout="row">
              <span fxFlex="30">Quantities: </span>
              <div class="input-group" fxFlex="15" fxLayout="row">
                <div class="input-group" fxFlex="100" fxLayout="row">
                  <button
                    class="btn btn-outline-secondary rounded-lg"
                    type="button"
                    id="buttonSubtract"
                    (click)="onMinusQuantityBtnClick()"
                    fxFlex="30"
                  >
                    -
                  </button>
                  <input
                    class="form-control text-center"
                    id="quantitiesInput"
                    [value]="quantity"
                    min="1"
                    readonly
                    fxFlex="40"
                  />
                  <button
                    class="btn btn-outline-secondary rounded-lg"
                    type="button"
                    id="buttonAdd"
                    (click)="onAddQuantityBtnClick()"
                    fxFlex="30"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="product-detail-add-to-basket-button"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <a
              class="btn btn-primary mx-3"
              fxFlex="40"
              fxLayoutAlign="center center"
              (click)="onAddToCartBtnClick()"
            >
              <mat-icon>shopping_cart</mat-icon>
              <span> Add to Cart </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr class="mx-3 my-4" />
    <div
      class="product-detail-status-info-content px-4 py-4"
      style="min-height: 300px"
      fxLayout="row"
    >
      <div class="product-detail-status-locate mx-5" fxFlex="40">
        <h2>Locate Store</h2>
        <div
          class="list-location-container"
          *ngFor="
            let productLocation of productLocations;
            let indexLocation = index
          "
        >
          <mat-list-item
            (click)="toggle[indexLocation] = !toggle[indexLocation]"
            [activated]="false"
          >
            <a matLine style="font-size: 20px">{{
              productLocation.cityName
            }}</a>
            <span>
              <mat-icon *ngIf="!toggle[indexLocation]">expand_more</mat-icon>
              <mat-icon *ngIf="toggle[indexLocation]">expand_less</mat-icon>
            </span>
          </mat-list-item>
          <div [hidden]="toggle[indexLocation]">
            <!-- <mat-selection-list>
              <mat-list-option *ngFor="let store of productLocation.stores">
                {{ store.storeName }}
              </mat-list-option>
            </mat-selection-list> -->
            <mat-nav-list>
              <mat-list-item
                *ngFor="
                  let store of productLocation.stores;
                  let indexStore = index
                "
              >
                <mat-radio-button (change)="onChangeStore(store)">
                  {{ store.storeName }}
                </mat-radio-button>
              </mat-list-item>
            </mat-nav-list>
          </div>
        </div>
      </div>
      <mat-divider vertical></mat-divider>
      <div class="product-detail-status-current mx-5" fxFlex="40">
        <h2>Store Infomation</h2>
        <div class="mx-2 my-2" fxLayout="row" fxLayoutAlign="start center">
          <span fxFlex="20">Store Name:&nbsp;</span>
          <span>{{ currentStore?.storeName ?? "-" }}</span>
        </div>
        <div class="mx-2 my-2" fxLayout="row" fxLayoutAlign="start center">
          <span fxFlex="20">Address:&nbsp;</span>
          <span>{{ currentStore?.address ?? "-" }}</span>
        </div>
        <div class="mx-2 my-2" fxLayout="row" fxLayoutAlign="start center">
          <span fxFlex="20">City:&nbsp;</span>
          <span>{{ currentStore?.cityName ?? "-" }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
