.product-detail-img{

}

.product-detail-info-content-main{
  background-image: url('https://winmart.vn/_next/static/images/bg-product-1fb6a3ec6319488c0e5d03e99a3500c4.jpg');
}

.product-detail-basic-info-content{
  background-color: rgb(255, 255, 255);
}

.product-detail-status-info-content {
  background-color: rgb(255, 255, 255);
}
