.product-detail-container{
  border-radius: 18px;
  background-color: white;
  box-shadow: 0px -3px 14px 2px rgba(161, 146, 146, 0.12),
              0px 3px 10px 0px rgba(161, 146, 146, 0.12);
}

.product-detail-content{
  border-radius: 18px;
  box-shadow: 0px -5px 5px -3px rgba(0, 0, 0, 0.2),
              0px -8px 10px 1px rgba(143, 134, 134, 0.14),
              0px -3px 14px 2px rgba(161, 146, 146, 0.12),
              0px 3px 10px 0px rgba(161, 146, 146, 0.12);
}
.product-detail-img{

}

.product-detail-info-content-main{
  background-image: url('https://winmart.vn/_next/static/images/bg-product-1fb6a3ec6319488c0e5d03e99a3500c4.jpg');
}

.product-detail-basic-info-content{
  border-radius: 18px;

  background-color: rgb(255, 255, 255);
}

.product-detail-status-info-content {
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
}
