<div mat-dialog-content>
  <h3 mat-dialog-title class="col-12">Product</h3>
  <div class="dialog-content my-4 mx-4">
    <!-- Product Name -->
    <div
      class="product-name"
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
    >
      <mat-form-field class="example-full-width w-100" fxFlex="100">
        <mat-label>Product Name</mat-label>
        <input [formControl]="nameForm" matInput placeholder="Ex. Pizza" />
      </mat-form-field>
    </div>
    <!-- Description -->
    <div
      class="product-description"
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
    >
      <mat-form-field class="example-full-width w-100" fxFlex="100">
        <mat-label>Description</mat-label>
        <input [formControl]="descriptionForm" matInput />
      </mat-form-field>
    </div>
    <!-- Price -->
    <div
      class="product-price"
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
    >
      <mat-form-field class="example-full-width" fxFlex="100">
        <mat-label>Price</mat-label>
        <input [formControl]="priceForm" matInput type="number" />
      </mat-form-field>
      <!-- <mat-form-field class="example-full-width">
        <mat-label>Price Decreases</mat-label>
        <input [formControl]="priceDecreasesForm" matInput type="number" />
      </mat-form-field>
      <mat-form-field *ngIf="data?.isEdit" class="example-full-width">
        <mat-label>Quantity</mat-label>
        <input [formControl]="quantityForm" matInput type="number" />
      </mat-form-field> -->
    </div>
    <!-- Price Decreases -->
    <div
      class="product-price-decreases"
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
    >
      <mat-form-field class="example-full-width" fxFlex="100">
        <mat-label>Price Decreases</mat-label>
        <input [formControl]="priceDecreasesForm" matInput type="number" />
      </mat-form-field>
    </div>
    <!-- Price Decreases at Store -->
    <div
      *ngIf="data?.isEdit"
      class="product-price-decreases"
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
    >
      <mat-form-field class="example-full-width" fxFlex="100">
        <mat-label>Price Decreases at Store</mat-label>
        <input
          [formControl]="currentPriceDecreasesForm"
          matInput
          type="number"
        />
      </mat-form-field>
    </div>
    <!-- Quantity  -->
    <div
      class="product-quantity"
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
    >
      <mat-form-field
        *ngIf="data?.isEdit"
        class="example-full-width"
        fxFlex="100"
      >
        <mat-label>Quantity</mat-label>
        <input [formControl]="quantityForm" matInput type="number" />
      </mat-form-field>
    </div>
    <!-- Stores -->
    <div
      *ngIf="!data?.isEdit"
      class="product-store"
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
    >
      <mat-form-field fxFlex="">
        <mat-label>Select Store</mat-label>
        <mat-select [formControl]="locationForm" multiple>
          <!-- <mat-option>-- None --</mat-option> -->
          <mat-optgroup
            *ngFor="let location of locations"
            [label]="location.cityName"
          >
            <mat-option
              *ngFor="let store of location.stores"
              [value]="store.storeId"
              (onSelectionChange)="onSelectLocation($event)"
            >
              {{ store.storeName }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Category/Product Unit -->
    <div
      class="product-store"
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
    >
      <mat-form-field fxFlex="47">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="categoyForm">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="47">
        <mat-label>Product Unit</mat-label>
        <mat-select [formControl]="productUnitForm">
          <mat-option *ngFor="let unit of productUnit" [value]="unit.id">
            {{ unit.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Image -->
    <div
      class="product-store"
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
    >
      <div class="input-group mb-3">
        <button
          class="btn btn-outline-secondary"
          type="button"
          style="background-color: #f5f5f5; border: 1px solid #ced4da"
          id="inputGroupFileAddon03"
        >
          Image
        </button>
        <input
          type="file"
          class="form-control"
          id="inputGroupFile03"
          aria-describedby="inputGroupFileAddon03"
          aria-label="Upload"
          (change)="onUploadImageChange($event)"
        />
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="pb-3 pr-4" align="end">
    <app-spinner-button
      mat-raised-button
      class="mx-2"
      (buttonClick)="onBtnSaveClick()"
    >
      Save
    </app-spinner-button>
    <button
      mat-stroked-button
      class="btn btn-outline-secondary mx-2"
      mat-dialog-close
    >
      Cancel
    </button>
  </div>
</div>
