<div
  class="snack-bar-container"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="row">
    <mat-icon *ngIf="getIcon" class="material-icons-message-type">{{
      getIcon()
    }}</mat-icon>
    <span class="material-message">{{ data?.message }}</span>
  </div>

  <div
    class="snack-bar-button"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <!-- <button
      mat-raised-button
      color="primary"
      *ngIf="data.button"
      (click)="button($event)"
    >
      {{ data.button }}
    </button> -->
    <span
      class="material-icons-outlined"
      (click)="close($event)"
      *ngIf="data.button"
    >
      {{ data.button }}
    </span>
  </div>
</div>
