<div fxLayout="column" fxFlexFill>
  <mat-toolbar
    *ngIf="!isLogin"
    class="navbar-color mat-elevation-z8 p-0"
    fxLayout="row"
    fxLayoutAlign="start stretch"
    style="z-index: 2; height: 80px"
  >
    <div
      class="toolbar-content"
      fxLayoutGap="10px"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div
        class="logo-container h-100"
        fxLayoutGap="10px"
        fxFlex="25"
        fxLayout="row"
        fxLayoutAlign="start stretch"
      >
        <button
          *ngIf="isShowMenuBtn"
          mat-raised-button
          (click)="drawer?.toggle()"
          class="no-border btn-menu border h-100"
        >
          <mat-icon class="item-center item-font-size-42">menu</mat-icon>
        </button>
        <button
          mat-raised-button
          fxFlex="35"
          class="no-border btn-logo h-100"
          routerLink="/home"
        >
          <app-logo></app-logo>
        </button>
      </div>

      <div
        class="search-bar-container h-100"
        fxFlex="50"
        fxLayout="row"
        fxLayoutAlign="center stretch"
      >
        <div
          *ngIf="(authService.isClient$ | async) == true"
          class="d-flex h-100"
          fxFlex="75"
        >
          <input
            id="search-input"
            class="form-control me-2 btn-search"
            type="search"
            placeholder="Search"
            aria-label="Search"
            (keyup.enter)="onClickSearchBtn()"
          />
          <button
            *ngIf="(authService.isClient$ | async) == true"
            class="btn header-button"
            type="button"
            (click)="onClickSearchBtn()"
          >
            <mat-icon class="mr-2 item-center txt-bold">search</mat-icon>
          </button>
        </div>
      </div>

      <div
        class="user-container"
        fxFlex="25"
        fxLayout="row"
        fxLayoutAlign="end stretch"
        *ngIf="authService.currentUser$ | async"
      >
        <span fxFlex="70" fxLayout="row" fxLayoutAlign="end stretch">
          {{ (authService.currentUser$ | async)?.userName }}
        </span>
        <mat-icon
          class="mr-2 txt-bold h-100"
          style="font-size: 32px"
          fxFlex="10"
          fxLayout="row"
          fxLayoutAlign="end stretch"
          >account_circle</mat-icon
        >
      </div>

      <div
        *ngIf="!(authService.currentUser$ | async)"
        class="user-container"
        fxFlex="25"
        fxLayout="row"
        fxLayoutAlign="end stretch"
      >
        <a
          routerLink="/login"
          style="text-decoration: none; color: rgb(94, 53, 177)"
          fxFlex="40"
          fxLayout="row"
        >
          <mat-icon
            class="mr-2 txt-bold h-100"
            style="font-size: 32px"
            fxFlex="30"
          >
            login
          </mat-icon>
          <span fxFlex="70"> Login </span>
        </a>
      </div>
      <span fxFlex></span>
    </div>
  </mat-toolbar>

  <mat-drawer-container
    fxFlex
    autosize
    class="background"
    style="background-color: #f5f5f5"
  >
    <mat-drawer
      #drawer
      class="btn-page-container"
      (openedChange)="onOpenedChange($event)"
    >
      <div *ngIf="!isLogin" fxLayout="column" class="" fxLayoutGap="5px">
        <button
          mat-raised-button
          routerLink="/"
          routerLinkActive="selected no-border"
          fxFlex="10"
          fxLayoutAlign="start"
          class="no-border btn btn-page"
        >
          <span fxLayoutAlign="start">
            <mat-icon class="mr-2 item-center">home</mat-icon>
            <span class="item-center txt-bold"> Home </span>
          </span>
        </button>
        <mat-divider></mat-divider>
        <button
          *ngIf="
            !(
              (authService.isManager$ | async) == true ||
              (authService.isStaff$ | async) == true
            )
          "
          mat-raised-button
          routerLink="/products"
          routerLinkActive="selected no-border "
          fxFlex="10"
          fxLayoutAlign="start"
          class="no-border btn btn-page"
        >
          <span fxLayoutAlign="start">
            <mat-icon class="mr-2 item-center">layers</mat-icon>
            <span class="item-center txt-bold"> Category </span>
          </span>
        </button>
        <mat-divider
          *ngIf="
            !(
              (authService.isManager$ | async) == true ||
              (authService.isStaff$ | async) == true
            )
          "
        ></mat-divider>
        <button
          *ngIf="(authService.isClient$ | async) == true"
          mat-raised-button
          routerLink="/cart"
          routerLinkActive="selected no-border"
          fxFlex="10"
          fxLayoutAlign="start"
          class="no-border btn btn-page"
        >
          <span fxLayoutAlign="start">
            <mat-icon class="mr-2 item-center">shopping_cart</mat-icon>
            <span class="item-center txt-bold"> Cart </span>
          </span>
        </button>
        <mat-divider
          *ngIf="(authService.isClient$ | async) == true"
        ></mat-divider>
        <button
          *ngIf="(authService.isClient$ | async) == true"
          mat-raised-button
          routerLink="/order"
          routerLinkActive="selected no-border"
          fxFlex="10"
          fxLayoutAlign="start"
          class="no-border btn btn-page"
        >
          <span fxLayoutAlign="start">
            <mat-icon class="mr-2 item-center"> list_alt</mat-icon>
            <span class="item-center txt-bold"> Order </span>
          </span>
        </button>
        <mat-divider
          *ngIf="(authService.isClient$ | async) == true"
        ></mat-divider>
        <button
          *ngIf="
            (authService.isManager$ | async) == true ||
            (authService.isStaff$ | async) == true
          "
          mat-raised-button
          routerLink="/product-management"
          routerLinkActive="selected no-border"
          fxFlex="10"
          fxLayoutAlign="start"
          class="no-border btn btn-page"
        >
          <span fxLayoutAlign="start">
            <mat-icon class="mr-2 item-center">layers</mat-icon>
            <span class="item-center txt-bold"> Product Manager </span>
          </span>
        </button>
        <mat-divider
          *ngIf="
            (authService.isManager$ | async) == true ||
            (authService.isStaff$ | async) == true
          "
        ></mat-divider>
        <button
          *ngIf="(authService.isManager$ | async) == true"
          mat-raised-button
          routerLink="/revenue-management"
          routerLinkActive="selected no-border"
          fxFlex="10"
          fxLayoutAlign="start"
          class="no-border btn btn-page"
        >
          <span fxLayoutAlign="start">
            <mat-icon class="mr-2 item-center">trending_up</mat-icon>
            <span class="item-center txt-bold"> Revenue Manager </span>
          </span>
        </button>
        <mat-divider
          *ngIf="(authService.isManager$ | async) == true"
        ></mat-divider>
        <button
          *ngIf="
            (authService.isManager$ | async) == true ||
            (authService.isStaff$ | async) == true
          "
          mat-raised-button
          routerLink="/order-management"
          routerLinkActive="selected no-border"
          fxFlex="10"
          fxLayoutAlign="start"
          class="no-border btn btn-page"
        >
          <span fxLayoutAlign="start">
            <mat-icon class="mr-2 item-center"> list_alt</mat-icon>
            <span class="item-center txt-bold"> Order Manager </span>
          </span>
        </button>
        <mat-divider
          *ngIf="
            (authService.isManager$ | async) == true ||
            (authService.isStaff$ | async) == true
          "
        ></mat-divider>
        <button
          *ngIf="(authService.isManager$ | async) == true"
          mat-raised-button
          routerLink="/promotion-management"
          routerLinkActive="selected no-border"
          fxFlex="10"
          fxLayoutAlign="start"
          class="no-border btn btn-page"
        >
          <span fxLayoutAlign="start">
            <mat-icon class="mr-2 item-center"> event_available</mat-icon>
            <span class="item-center txt-bold"> Promotion Manager </span>
          </span>
        </button>
        <mat-divider
          *ngIf="(authService.isManager$ | async) == true"
        ></mat-divider>
      </div>
    </mat-drawer>

    <div style="display: inline">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
