<div class="product-queue-grid-container my-5 px-4 py-4">
  <div class="product-queue-title my-3">
    <p class="text-left font-weight-bold" style="font-size: 24px">Products</p>
  </div>
  <mat-spinner *ngIf="isLoading"> </mat-spinner>
  <div *ngIf="!isLoading" class="product-queue-content p-3 row row-cols-5 gy-5">
    <div
      class="product-item-container"
      *ngFor="let product of products; let productIndex = index"
    >
      <div class="card" style="width: 16rem; height: 32rem" fxLayout="column">
        <a
          [routerLink]="product.categoryId + '/product/' + product.id"
          fxFlex="45"
          fxLayout="column"
        >
          <img
            [src]="product.img ?? '../../.././../assets/images/default-img.jpg'"
            class="card-img-top"
            alt="..."
            style="object-fit: contain"
            fxFlex="100"
          />
        </a>

        <div class="card-body" fxFlex="55" fxLayout="column">
          <p
            class="card-text text-truncate"
            style="font-size: 16px"
            fxFlex="25"
          >
            {{ product.description ?? "Unknown" }}
          </p>
          <p class="card-text" style="font-size: 12px" fxFlex="20">
            Unit:
            {{ formatProductUnit(product.lK_ProductUnit) }}
          </p>
          <p class="card-text" style="font-size: 12px" fxFlex="20">
            <span>Price: &nbsp;</span>
            <span *ngIf="product.currentStorePriceDecreases" style="color: red">
              {{ formatMoney(product.currentStorePriceDecreases) }} &nbsp;
            </span>
            <span
              [ngClass]="
                product.currentStorePriceDecreases
                  ? 'text-decoration-line-through'
                  : ''
              "
              [ngStyle]="{
                color: product.currentStorePriceDecreases ? 'grey' : 'red'
              }"
              >{{ formatMoney(product.price) }}</span
            >
          </p>
          <p
            *ngIf="product.currentQuantity"
            class="card-text"
            style="font-size: 12px"
            fxFlex="20"
          >
            Quantity:
            {{ product.currentQuantity }}
          </p>
          <mat-form-field fxFlex="30">
            <mat-label>Select Store</mat-label>
            <mat-select
              [formControl]="toControl(locationForms?.at(productIndex))"
            >
              <mat-option>-- None --</mat-option>
              <mat-optgroup
                *ngFor="let location of product.locations"
                [label]="location.cityName"
              >
                <mat-option
                  *ngFor="let store of location.stores"
                  [value]="store.storeId"
                  (onSelectionChange)="onSelectLocation($event, product, store)"
                >
                  {{ store.storeName }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <a
            *ngIf="(authService.isClient$ | async) == true"
            class="btn btn-primary"
            fxFlex="25"
            fxLayout="row"
            fxLayoutAlign="center center"
            (click)="onAddToCart(product, 1, productIndex)"
          >
            <mat-icon>shopping_cart</mat-icon>
            <span> Add to Cart </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator
    class="my-3"
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex - 1"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
