<div class="product-queue-grid-container">
  <div class="product-queue-title">
    <p class="text-left font-weight-bold" style="font-size: 24px">Products</p>
  </div>
  <mat-spinner *ngIf="isLoading"> </mat-spinner>
  <div *ngIf="!isLoading" class="product-queue-content p-3 row row-cols-5 gy-5">
    <div class="product-item-container" *ngFor="let product of products">
      <div class="card" style="width: 16rem; height: 22rem" fxLayout="column">
        <a
          [routerLink]="product.categoryId + '/product/' + product.id"
          fxFlex="50"
          fxLayout="column"
        >
          <img
            [src]="product.img"
            class="card-img-top"
            alt="..."
            style="object-fit: contain"
            fxFlex="100"
          />
        </a>

        <div class="card-body" fxFlex="50" fxLayout="column">
          <p
            class="card-text text-truncate"
            style="font-size: 16px"
            fxFlex="30"
          >
            {{ product.description ?? "Unknown" }}
          </p>
          <p class="card-text" style="font-size: 12px" fxFlex="30">
            Unit:
            {{ formatProductUnit(product.lK_ProductUnit) }}
          </p>
          <p class="card-text" style="font-size: 12px" fxFlex="30">
            <span>Price: &nbsp;</span>
            <span *ngIf="product.priceDecreases" style="color: red">
              {{ formatMoney(product.priceDecreases) }} &nbsp;
            </span>
            <span
              [ngClass]="
                product.priceDecreases ? 'text-decoration-line-through' : ''
              "
              [ngStyle]="{ color: product.priceDecreases ? 'grey' : 'red' }"
              >{{ formatMoney(product.price) }}</span
            >
          </p>
          <a
            class="btn btn-primary"
            fxFlex="35"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <mat-icon>shopping_cart</mat-icon>
            <span> Add to Basket </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex - 1"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
