<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="slider">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
      style="height: 650px; min-width: 1360px"
    >
      <div class="carousel-inner h-100">
        <div class="carousel-item active h-100">
          <img
            src="https://static.vecteezy.com/system/resources/previews/006/642/998/non_2x/online-shopping-on-website-e-commerce-applications-and-digital-marketing-hand-holding-smartphonwith-the-delivery-man-template-for-banner-web-landing-page-social-media-flat-design-concept-vector.jpg"
            class="d-block w-100 h-100"
          />
        </div>
        <div class="carousel-item h-100">
          <img
            src="https://static.vecteezy.com/system/resources/previews/006/861/593/non_2x/digital-marketing-illustration-of-shopping-online-on-website-mobile-phone-use-as-background-business-technology-e-commerce-delivery-service-free-vector.jpg"
            class="d-block w-100 h-100"
          />
        </div>
        <div class="carousel-item h-100">
          <img
            src="https://static.vecteezy.com/system/resources/previews/006/861/601/non_2x/digital-marketing-illustration-of-shopping-online-on-website-mobile-phone-use-as-background-business-technology-e-commerce-delivery-service-free-vector.jpg"
            class="d-block w-100 h-100"
          />
        </div>
        <div class="carousel-item h-100">
          <img
            src="https://static.vecteezy.com/system/resources/previews/006/861/595/original/digital-marketing-illustration-of-shopping-online-on-website-mobile-phone-use-as-background-business-technology-e-commerce-delivery-service-free-vector.jpg"
            class="d-block w-100 h-100"
          />
        </div>
        <div class="carousel-item h-100">
          <img
            src="https://cdn.wedevs.com/uploads/2020/07/How-to-use-popups-in-eCommerce-store.png"
            class="d-block w-100 h-100"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="option px-5 py-3">
      <div
        class="option-container h-100"
        fxLayout="row"
        fxLayoutAlign="space-around center"
      >
        <div
          *ngIf="
            !(
              (authService.isManager$ | async) == true ||
              (authService.isStaff$ | async) == true
            )
          "
          class="option-item"
          fxFlex="20"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <button
            type="submit"
            class="px-5 py-2 btn btn-secondary btn-lg"
            (click)="onBtnSaleClick()"
          >
            Sales
          </button>
        </div>
        <div
          *ngIf="
            !(
              (authService.isManager$ | async) == true ||
              (authService.isStaff$ | async) == true
            )
          "
          class="option-item"
          fxFlex="20"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <button
            type="submit"
            class="px-5 py-2 btn btn-secondary btn-lg"
            (click)="onBtnProductClick()"
          >
            Product
          </button>
        </div>
        <div
          *ngIf="
            !(
              (authService.isManager$ | async) == true ||
              (authService.isStaff$ | async) == true
            )
          "
          class="option-item"
          fxFlex="20"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <button
            type="submit"
            class="px-5 py-2 btn btn-secondary btn-lg"
            (click)="onBtnCartClick()"
          >
            Cart
          </button>
        </div>
        <div
          *ngIf="
            !(
              (authService.isManager$ | async) == true ||
              (authService.isStaff$ | async) == true
            )
          "
          class="option-item"
          fxFlex="20"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <button
            type="submit"
            class="px-5 py-2 btn btn-secondary btn-lg"
            (click)="onBtnOrderClick()"
          >
            Order
          </button>
        </div>
        <!-- Manager -->
        <div
          *ngIf="
            (authService.isManager$ | async) == true ||
            (authService.isStaff$ | async) == true
          "
          class="option-item"
          fxFlex="20"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <button
            type="submit"
            class="px-5 py-2 btn btn-secondary btn-lg"
            routerLink="/product-management"
          >
            Product
          </button>
        </div>
        <div
          *ngIf="
            (authService.isManager$ | async) == true ||
            (authService.isStaff$ | async) == true
          "
          class="option-item"
          fxFlex="20"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <button
            type="submit"
            class="px-5 py-2 btn btn-secondary btn-lg"
            routerLink="/order-management"
          >
            Order
          </button>
        </div>
        <div
          *ngIf="(authService.isManager$ | async) == true"
          class="option-item"
          fxFlex="20"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <button
            type="submit"
            class="px-5 py-2 btn btn-secondary btn-lg"
            routerLink="/revanue-management"
          >
            Revenue
          </button>
        </div>
        <div
          *ngIf="(authService.isManager$ | async) == true"
          class="option-item"
          fxFlex="20"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <button
            type="submit"
            class="px-5 py-2 btn btn-secondary btn-lg"
            routerLink="/promotion-management"
          >
            Promotion
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
