<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="logo-container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10 h-100">
        <div class="card rounded-3 tri text-black h-100">
          <div class="row g-0 h-100" fxLayout="row">
            <div class="col-lg-6 h-100" fxFlex="50">
              <div
                class="card-body p-md-5 mx-md-4 h-100"
                fxLayout="column"
                fxLayoutAlign="space-around stretch"
              >
                <div
                  *ngIf="isLogin"
                  class="text-center"
                  style="color: rgb(94, 53, 177) !important"
                  fxFlex="30"
                >
                  <app-logo></app-logo>
                  <br />
                </div>
                <div
                  *ngIf="!isLogin"
                  class="text-center"
                  style="color: rgb(94, 53, 177) !important"
                  fxFlex="9"
                >
                  <app-logo></app-logo>
                  <br />
                </div>

                <form *ngIf="isLogin" fxFlex="70">
                  <h1 *ngIf="isLogin">Sign in</h1>
                  <div *ngIf="isLogin" class="form-outline mb-4 my-2">
                    <label class="form-label" for="form2Example11"
                      >Username</label
                    >
                    <input
                      id="form2Example11"
                      class="form-control"
                      type="email"
                      placeholder="Username"
                      aria-label="Username"
                      (keyup.enter)="onLoginBtnClick()"
                    />
                  </div>

                  <div *ngIf="isLogin" class="form-outline mb-4">
                    <label class="form-label" for="form2Example22"
                      >Password
                    </label>
                    <input
                      type="password"
                      id="form2Example22"
                      class="form-control"
                      placeholder="Password"
                      aria-label="Password"
                      (keyup.enter)="onLoginBtnClick()"
                    />
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      *ngIf="isLogin"
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      type="button"
                      (click)="onLoginBtnClick()"
                    >
                      Log in
                    </button>
                    <a *ngIf="isLogin" class="text-muted">Forgot password?</a>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p *ngIf="isLogin" class="mb-0 me-2">
                      Don't have an account?
                    </p>
                    <button
                      *ngIf="isLogin"
                      type="button"
                      class="btn btn-outline-danger"
                      (click)="onIsLoginClick()"
                    >
                      Create new
                    </button>
                  </div>
                </form>

                <form *ngIf="!isLogin" fxFlex="91">
                  <h1 *ngIf="!isLogin">Register</h1>
                  <div *ngIf="!isLogin" class="form-outline mb-2 my-2">
                    <label class="form-label" for="formUserNameRegister"
                      >Username</label
                    >
                    <input
                      id="formUserNameRegister"
                      class="form-control"
                      type="email"
                      placeholder="Username"
                      aria-label="Username"
                    />
                  </div>

                  <div *ngIf="!isLogin" class="form-outline mb-2 my-2">
                    <label class="form-label" for="formPasswordRegister"
                      >Password</label
                    >
                    <input
                      id="formPasswordRegister"
                      class="form-control"
                      type="password"
                      placeholder="Password"
                      aria-label="Password"
                    />
                  </div>

                  <div *ngIf="!isLogin" class="form-outline mb-2 my-2">
                    <label class="form-label" for="formConfirmPasswordRegister"
                      >Confirm Password</label
                    >
                    <input
                      id="formConfirmPasswordRegister"
                      class="form-control"
                      type="password"
                      placeholder="Confirm Password"
                      aria-label="Confirm Password"
                    />
                  </div>

                  <div *ngIf="!isLogin" class="form-outline mb-2 my-2">
                    <label class="form-label" for="formNameRegister"
                      >Name</label
                    >
                    <input
                      id="formNameRegister"
                      class="form-control"
                      placeholder="Name"
                      aria-label="Name"
                    />
                  </div>

                  <div *ngIf="!isLogin" class="form-outline mb-2 my-2">
                    <label class="form-label" for="formPhoneNumberRegister"
                      >PhoneNumber</label
                    >
                    <input
                      id="formPhoneNumberRegister"
                      class="form-control"
                      placeholder="PhoneNumber"
                      aria-label="PhoneNumber"
                    />
                  </div>

                  <div class="text-center pt-1 pb-1 mt-3">
                    <button
                      *ngIf="!isLogin"
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      type="button"
                      (click)="onRegisterBtnClick()"
                    >
                      Register
                    </button>
                    <a *ngIf="isLogin" class="text-muted">Forgot password?</a>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p *ngIf="!isLogin" class="mb-0 me-2">
                      You have an account?
                    </p>
                    <button
                      *ngIf="!isLogin"
                      type="button"
                      class="btn btn-outline-danger"
                      (click)="onIsLoginClick()"
                    >
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="col-lg-6 d-flex align-items-center img-login h-100"
              fxFlex="50"
              fxLayout="row"
            >
              <img
                class="h-100"
                src="https://img.freepik.com/free-vector/shopping-payment-online-process-computer-smartphone-tablet_1150-65523.jpg?t=st=1687194667~exp=1687195267~hmac=7ef76ddcd2dfe3379e7701cd86d1612d4c91c1fa8a9a92916c3f892ae4b82bb0"
                alt=""
                fxFlex="100"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
