<div mat-dialog-content>
  <h3 mat-dialog-title class="col-12">Order</h3>
  <div class="dialog-message" fxLayout="row" fxLayoutAlign="center center">
    <h4>Do you want to create new Orders?</h4>
  </div>
</div>
<div mat-dialog-actions class="pb-3 pr-4" align="end">
  <app-spinner-button
    mat-raised-button
    [isLoading]="isLoading"
    class="mx-2"
    (buttonClick)="onOrderBtnClick()"
  >
    Order
  </app-spinner-button>
  <button
    mat-stroked-button
    class="btn btn-outline-secondary mx-2"
    mat-dialog-close
  >
    Cancel
  </button>
</div>
