<div mat-dialog-content>
  <h3 mat-dialog-title class="col-12">Order</h3>
  <div
    class="row px-3"
    div
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
  >
    <div class="location-info" fxFlex="50">
      <!-- Cities -->
      <mat-form-field>
        <mat-label>City</mat-label>
        <mat-select
          placeholder="Select a City"
          [formControl]="cityFormControl"
          required
        >
          <mat-option
            *ngFor="let city of cities"
            [value]="city.cityId"
            matTooltip="{{ city.cityName }}"
            (onSelectionChange)="onSelectCity($event)"
          >
            {{ city.cityName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="cityFormControl.hasError('required')">
          Please choose a city
        </mat-error>
      </mat-form-field>

      <!-- Stores -->
      <mat-form-field>
        <mat-label>Store</mat-label>
        <mat-select
          placeholder="Select a Store"
          [formControl]="storeFormControl"
          required
        >
          <mat-option
            *ngFor="let store of stores"
            [value]="store.storeId"
            matTooltip="{{ store.storeName }}"
          >
            {{ store.storeName }}, {{ store.address }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="storeFormControl.hasError('required')">
          Please choose a store
        </mat-error>
      </mat-form-field>

      <!-- Order Type -->
      <mat-form-field>
        <mat-label>Order Type</mat-label>
        <mat-select
          placeholder="Select a Order Type"
          [formControl]="orderTypeFormControl"
          required
        >
          <mat-option
            *ngFor="let orderType of orderTypes"
            [value]="orderType.value"
            matTooltip="{{ orderType.viewValue }}"
            (onSelectionChange)="onSelectOrderType($event)"
          >
            {{ orderType.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="orderTypeFormControl.hasError('required')">
          Please choose a order type
        </mat-error>
      </mat-form-field>

      <!-- Time pickup-->
      <div *ngIf="isPickup" class="time-container">
        <form
          class="demo-form"
          fxLayout="row"
          fxLayoutAlign="space-between stretch"
          appearance="fill"
        >
          <material-timepicker
            class="mr-2 custom-timepicker"
            color="primary"
            label="Pick-up Time From"
            [userTime]="exportTime"
            (change)="onChangePickupTimeFrom($event)"
            revertLabel="Remove"
            submitLabel="Ok"
            fxFlex="47"
            appearance="outline"
          >
          </material-timepicker>
          <material-timepicker
            class="ml-2 custom-timepicker"
            color="primary"
            label="Pick-up Time From To"
            [userTime]="exportTime"
            fxFlex="47"
            appearance="fill"
            (change)="onChangePickupTimeTo($event)"
          ></material-timepicker>
        </form>
      </div>
    </div>

    <div class="user-info" fxFlex="50">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [formControl]="useNameFormControl" />
        <mat-error *ngIf="useNameFormControl.hasError('maxLength')">
          Please enter your phone number
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          placeholder="Phone Number"
          [formControl]="phoneNumberFormControl"
          required
        />
        <mat-error *ngIf="phoneNumberFormControl.hasError('required')">
          Please enter your phone number
        </mat-error>
        <mat-error
          *ngIf="
            phoneNumberFormControl.hasError('minlength') ||
            phoneNumberFormControl.hasError('maxlength')
          "
        >
          Invalid phone number
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          placeholder="Address"
          [formControl]="addressFormControl"
          required
        />
        <mat-error *ngIf="addressFormControl.hasError('required')">
          Please enter your address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Note</mat-label>
        <input matInput placeholder="Note" />
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="pb-3 pr-4" align="end">
  <app-spinner-button
    mat-raised-button
    [isLoading]="isLoading"
    [isDisable]="!isValidRequest()"
    class="mx-2"
    (buttonClick)="onOrderBtnClick()"
  >
    Order
  </app-spinner-button>
  <button
    mat-stroked-button
    class="btn btn-outline-secondary mx-2"
    mat-dialog-close
  >
    Cancel
  </button>
</div>
