<div class="order-manager-container mx-5 my-5 px-5 py-4">
  <table mat-table [dataSource]="products.data" class="order-manager-table">
    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef>Product ID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.productId ?? "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>Product Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.productName ?? "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="storeName">
      <th mat-header-cell *matHeaderCellDef>Store Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.storeName ?? "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="percentageDecrease">
      <th mat-header-cell *matHeaderCellDef>Percentage Decrease</th>
      <td mat-cell *matCellDef="let element">
        {{ element.percentageDecrease ?? "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="originalPrice">
      <th mat-header-cell *matHeaderCellDef>Original Price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.originalPrice ? formatMoney(element.originalPrice) : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="originalPriceDecreases">
      <th mat-header-cell *matHeaderCellDef>Original Price Decreases</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.originalPriceDecreases
            ? formatMoney(element.originalPriceDecreases)
            : "-"
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="currentPriceDecreases">
      <th mat-header-cell *matHeaderCellDef>Price Decreases at Store</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.currentPriceDecreases
            ? formatMoney(element.currentPriceDecreases)
            : "-"
        }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    class="my-3"
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex - 1"
    [pageSizeOptions]="[5, 10, 15, 20]"
    (page)="pageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
