.order-manager-container{
  background-color: white;
  box-shadow: 0px -3px 14px 2px rgba(161, 146, 146, 0.12),
              0px 3px 10px 0px rgba(161, 146, 146, 0.12);
  border-radius: 18px;
}

.order-manager-table{
  border-radius: 18px;
}

.order-manager-table * {
  font-size: 13px;
}

.mdc-data-table__cell {
  padding-top: 10px;
  padding-bottom: 10px;
}

.txt-bold{
  font-weight: bold;
}


